/* Date-Picker CSS */
.thirdleveledit .icon{
	background: url("../images/sprite_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-position: -29px -33px !important;
    height: 11px !important;
    width: 11px !important;
	margin-top: -7px !important
}
.foh{width:47% !important;}
.icon{cursor: pointer;}
.oneCol #wrapper{ min-width:1200px !important;}
.ui-tabs .ui-tabs-panel{ padding:0px;}
.panels .panels{padding-left:0px;}
.custscrollX{overflow-x:scroll !important}
.ml40px{margin-left:40px !important}
#firstcolumn .firstlevelCrs{position:absolute; top: -16px;right:5px;}
.firstlevelEdt {top: -9px;}
.firstlevel{height:auto;}
.penicon{top: -4px !important;}
/* ie6 issue fix*/
.relheight{*height:auto !important;_height:1%!important}
.secondleveldiv label{display:inline !important}
.oneCol .planpanel .hd,.oneCol .planpanel .content{background-color:#f1f1f1 !important;padding:0px 5px!important;margin:0px !important; width: 95% !important;}
.oneCol .planpanel h3{padding: 5px 0px 0px 0px !important;margin: 0px !important}
ul.lblSelectPair {list-style-type:none;padding:0;margin:0}
ul.lblSelectPair li {padding:8px 15px 3px 15px;position:relative;margin:0;zoom:1}
ul.lblSelectPair input{left:0;top:10px;position:absolute;margin:0;padding:0;height:12px;width:12px; top:11px\9 !important;}
ul.lblSelectPair label{margin-left:5px;display:block;font-weight:normal;color:#484A4D}
.secondlevel label{padding-bottom:2px !important;}
.ie7 #leftcol_bob .input{widht: 10px !important}
.chkAllign{top:11px !important}
.iconAllign{top:-4px !important}
.ie7 .penicon {top:10px !important}
.ie6 .penicon {top:10px !important}
.ie7 ul.lblSelectPair input{top:8px !important}
.ie6 #renderLineChart_ContributionsTrends{padding:0px 0px 5px 0px !important;} 

#curSelsSec .nlist li{border-bottom:1px dashed #ccc !important;}
.nlist li:hover{background:#EBF6FA;}
.nlist li.shdhlt:hover{background:#2BADDA;}
.nlist li{line-height:28px; padding-left:5px;}
#leftcol_bob .nlist li, #secondcolumn .nlist li{background:none !important; line-height:18px !important;}

.ie7 .custIcon {top:-29px !important}
.ie6 .custIcon {top:-29px !important}

.modal{z-index:999999 !important;}
.pagetitle{z-index:1 !important; background: #ffffff;}
.headercontent{z-index:1 !important;}

.icupLink.icmid{margin-top:-24px;_margin-top:-10px;margin-left:8px;*left:7px!important}
.icupLink.icmidge{margin-top:-24px;_margin-top:-10px;margin-left:1px;*left:1px!important}
html.ie7 .icupLink.icmid,html.ie7 .icupLink.icmidge{margin-top:-15px}
.lblmid{margin-left:-13px}
.lblmidage{margin-left:-10px;*padding-left:1px}
.heightfix{position:relative !important;height:1% !important}

#curSelsSec {height: 144px !important}
.scrollContainer div {height: 144px !important}