<div role="logo" class="logo"> <a href="#"> <img src="../../themes/ud_atom/images/logo_udwiki.gif" alt="TIAA CREF - Financial Services" > </a> </div>
	<div class="globalutil">
		<div class="utillinks">
			<ul>
				<li class="first">Hi, Colin</li>
				<li class="last today"></li>
			</ul>
		</div>
	</div>
	<div class="globalsearch">
		<div class="searchBox closed">
		  <form>
			<div class="globalselect">
			  <select class="mrs" id="sel">
				<option>SSN</option>
				<option>PIN</option>
				<option>Access Code</option>
			  </select>
			</div>
			<input type="text" autocomplete="off" id="pptsearch" class="txtInput txtlt ac_input" name="pptsearch" onFocus="this.value = (this.value=='Search')? '' : this.value;" value="Search">
			<input type="submit" class="btnSubmit" title="Submit" value="&nbsp;">
		  </form>
		</div>
	</div>