  <div id="infodivWin" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mblg">Assets</div>
		<div class="slider mt ui-slider" id="timeframe-slider"></div>
		<div class="mt">
			<label class="abs">0%</label>
			<label class="abs" style="left: 60px;"><span class="icupLink icmid icon"></span><span class="lblmid">20%</span></label>
			<label class="abs" style="left: 110px;"><span class="icupLink icmid icon"></span><span class="lblmid">40%</span></label>
			<label class="abs" style="left: 159px;"><span class="icupLink icmid icon"></span><span class="lblmid">60%</span></label>
			<label class="abs" style="left: 208px;"><span class="icupLink icmid icon"></span><span class="lblmid">80%</span></label>
			<label class="abs" style="left: 245px;">100%</label>
		</div>
		<div class="ptxlg">
			<input type="text" class="inputxs mr" maxlength="5" id="range1" value="0">
			to <input type="text" class="inputxs mls" maxlength="5" id="range2" value="5m+">
		</div>
		<div class="btnBar mtm">
			<a title="Cancel" class="btn3 rel btncancel" id="winCancel" href="#"><span>Cancel</span></a>
			<a title="Apply" class="btn clickable rel" id="applySlider" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>
  
  <div id="manageBookPopup" class="popup" data-popup="width:600" title="Manage Custom Books">
    <div class="body"> 
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"> <label for="">Book Name:</label> </div>
			<div class="input">
				<div class="scrollContainer nm nbdr">
					<div id="mngCustLst" class="bdr p clickable">
						<h3>My Client Books</h3>
						<ul class="nlist np">
							<li rel="mbb">My Book of Business</li>
							<li rel="cbo">Custom Book One</li>
						</ul>
						<h3>All Client Books</h3>
						<ul class="nlist np">
							<li rel="cbo">Custom Book One</li>
							<li rel="bb">Bob's Book</li>
							<li rel="nr">Northwest Region</li>
							<li rel="arlbn">A really long book name</li>
							<li rel="ab">Another Book</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="lblFieldPair">
			<div class="lbl p"> <label for="">Take Action:</label> </div>
			<div class="input">
				<div class="">
					<select id="actionSelect" name="actionSelect" aria-required="" class="m">
						<option>-Select-</option>
						<option>Rename</option>
						<option>Set As Default Book</option>
						<option>Delete</option>
					</select>
					<input type="text" id="renameBook" name="renameBook" aria-required="" class="closed"/>
				</div>
			</div>
		</div>
	</div>
	<div class="btnBar">
	  <a role="button" href="#closePopup" class="btn3" title="Cancel"><span>Cancel</span></a>
	  <button class="btn" title="Submit" id="applyMngCust"><span>Apply</span></button>
	</div>
  </div>
 
 <div id="createBookPopup" class="popup" data-popup="width:700" title="Create Custom Books">
    <div class="body"> 
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"><label for="">Current Selections:</label> </div>
			<div class="input">
				<div class="scrollContainer nbdr">
					<div class="bdr p">
						<ul class="nlist" id= "curSelPopup">
							<li><span>My Team: Cruz, Penelope</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>My Team: Smith, John</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: North</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: West</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Opportunities: Win Prob: 24%</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Opportunities: Service Model: Recordkeeping Services(Existing)</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: East</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: South</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: National</span><span class="icdeleteIcon icon flr">Delete</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nbdr">
			<div class="lblFieldPair">
				<div class="lbl"> <label for="">Book Name:</label> </div>
				<div class="input"> <input type="text" id="bookNamePopup" name="bookNamePopup" aria-required=""/>
					<ul class="lblSelectPair">
						<li>
							<input id="setDfltBook" name="setDfltBook" type="checkbox" class="chkbox mtxs" aria-required="" />
							<label for="democheckbox1">Set As Default Book</label>
						</li>
					</ul>
				</div>
			</div>
		    
		</div>
	</div>
	<div class="btnBar">
	  <a role="button" href="#closePopup" class="btn3" title="Cancel"><span>Cancel</span></a>
	  <button class="btn" title="Submit" id="saveCustomBook"><span>Save Custom Book</span></button>
	</div>
  </div>
  
  <div id="alertPopup" class="popup" data-popup="width:300" title="Alert">
    <div class="body"> 
		You have Clicked a Different View. Do you wish to switch Views?
	</div>
	<div class="btnBar">
	  <a role="button" href="#"  id="cancelViewChange" class="btn3 closePopup" title="Cancel"><span>No</span></a>
	  <a role="button" href="#closePopup" class="btn" title="Cancel"><span>Yes</span></a>
	</div>
  </div>
<!-- End Of POPUP For Sprint 
4-->