/* Date-Picker CSS */
.thirdleveledit .icon{
	background: url("../images/sprite_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-position: -29px -33px !important;
    height: 11px !important;
    width: 11px !important;
	margin-top: -7px !important
}
.foh{width:47% !important;}
.icon{cursor: pointer;}
.oneCol #wrapper{ min-width:1200px !important;}
.ui-tabs .ui-tabs-panel{ padding:0px;}
.panels .panels{padding-left:0px;}
.custscrollX{overflow-x:scroll !important}
.ml40px{margin-left:40px !important}
#firstcolumn .firstlevelCrs{position:absolute; top: -16px;right:5px;}
.firstlevelEdt {top: -9px;}
.firstlevel{height:auto;}
.penicon{top: -4px !important;}
.inputBtn{width: 160px !important; font: 700 12px Arial,Helvetica,sans-serif !important;}
 ie6 issue fix*/
.relheight{*height:auto !important;_height:1%!important}
.secondleveldiv label{display:inline !important}
.oneCol .planpanel .hd,.oneCol .planpanel .content{background-color:#f1f1f1 !important;padding:0px!important;margin:0px 0px 5px 0px !important; width: 95% !important;}
.oneCol .planpanel h3{padding: 5px 0px 0px 0px !important;margin: 0px !important}
ul.lblSelectPair {list-style-type:none;padding:0;margin:0}
ul.lblSelectPair li {padding:8px 15px 3px 15px;position:relative;margin:0;zoom:1}
ul.lblSelectPair input{left:0;top:10px !important;position:absolute;margin:0;padding:0;height:12px;width:12px; top:11px\9 !important;}
ul.lblSelectPair label{margin-left:5px !important;display:block;font-weight:normal;color:#484A4D}
.secondlevel label{padding-bottom:2px !important;}
.ie7 #leftcol_bob .input{widht: 10px !important}
.chkAllign{top:11px !important}
.iconAllign{top:-4px !important}
.ie7 .penicon {top:10px !important}
.ie6 .penicon {top:10px !important}
.ie7 ul.lblSelectPair input{top:8px !important}
.ie6 #renderLineChart_ContributionsTrends{padding:0px 0px 5px 0px !important;} 
#firstcolumn{width:200px !important;}
#curSelsSec .nlist li{border-bottom:1px dashed #ccc !important; clear:both;}
#currentSel li{border-bottom:1px dashed #ccc !important; clear:both;}
#curSelPopup ul li{clear:both;}
.nlist li:hover{background:#EBF6FA;}
.nlist li.shdhlt:hover{background:#2BADDA;}
.nlist li{line-height:28px; padding-left:5px;}
#leftcol_bob .nlist li, #secondcolumn .nlist li{background:none !important; line-height:18px !important;}
#leftcol_bob .hd{background:none repeat scroll 0 0 #F3F4F5 !important; line-height:18px !important;}

.ie7 .custIcon {top:-29px !important}
.ie6 .custIcon {top:-29px !important}

.modal{z-index:999999 !important;}
.infoHover {z-index:999999 !important;}
.pagetitle{z-index:1 !important; background: #ffffff;}
.headercontent{z-index:1 !important;}

.icupLink.icmid{margin-top:-24px;_margin-top:-10px;margin-left:8px;*left:7px!important}
.icupLink.icmidge{margin-top:-24px;_margin-top:-10px;margin-left:1px;*left:1px!important}
html.ie7 .icupLink.icmid,html.ie7 .icupLink.icmidge{margin-top:-15px}
.lblmid{margin-left:-13px}
.lblmidage{margin-left:-10px;*padding-left:1px}
.heightfix{position:relative !important;height:1% !important}

#curSelsSec {height: 144px !important}
.scrollContainer div {height: 144px !important}

.current li{border-bottom:1px dashed #ccc !important;}
.scrollCont {
    border: 1px dotted #D6D6D6;	
	width: 181px !important;
 }
.scrollCont .scrollBody{
   background: none repeat scroll 0 0 #FFFFFF;
    height: 200px;
    margin: 1em 0;
    overflow: auto;
    padding: 0;
}
.scrollContainer{margin: 0px !important;}
.scrollCont div li, .scrollCont div div, .scrollCont div  div ul li {height:20px !important; margin:0px !important;}
.oneCol .planpanel .content {
	margin-bottom: 5px !important;
}
#myClients, #allClients{font-weight:bold !important; font-style:normal !important;}

.oneCol .planpanel h3, #myClientStates, #allClientStates {
	margin-left: 5px !important;
}
.oneCol .planpanel .content{
	padding-left: 5px !important;
}
.clsicn{display:block; width:130px; float:left;}
.legendCol{background:#aa4643 !important;}
.htitle{color:#0052A3 !important; font-size: 20px;  font-weight: bold;}
.foh{margin-right:16px !important;}
.chartBorder{margin-bottom:16px !important;}
#clientSelector ul.lblinline > li > label{margin-left:0px;}
#clientSelector ul.lblinline li{clear:none !important; float:left;}