<div class="pageTitleUD">
                        <img title="Institution Logo" alt="Institution Logo" src="../../themes/ud2_atom/images/ins_icon.png">
					    <h1 class="first titlePage">How Digital Are You ?</h1>
					    <span class="last titleUser"> David Testa </span>
                      </div>
	<div class="txtb mtm ml"> <a href="institutional_summary.html"><span> Go to Institutional Summary</span></a></div>

