<div id="pdisttype" data-popup="width:900" class="popup" title="Termination Lump Sum">
	<div class="body">
		<div class="ptblg ">
                              <table summary="Key Influencers" class="styleA fw">
                                <caption>Distribution Total By Type</caption>

                                <colgroup>                                                  
                                </colgroup>

                                <thead>
                                  <tr>
                                      <th>Pin</th>
                                      <th>Last Name, First Name</th>
                                      <th>Distribution Amount</th>
                                      <th>Number of Transactions</th>
                                      <th>Term Date</th>
                                      <th>Age</th>
                                      <th>Gender</th>
                                  </tr>
                                </thead>

                                <tbody>
	                                  <tr>
	                                    <td> <a href="#"> XXXXXXXX </a></td>
	                                    <td>XXXXXXXXXXXXXXXX</td>
	                                    <td>XXXX</td>
	                                    <td>XXXX</td>
	                                    <td>XXXX</td>
	                                    <td>XXXX</td>
	                                    <td>XXX</td>
	                                  </tr>
	                                  <tr>
	                                    <td> <a href="#"> XXXXXXXX </a> </td>
	                                    <td>XXXXXXXXXXXXXXXX</td>
	                                    <td>XXXX</td>
	                                    <td>XXXX</td>
	                                    <td>XXXX</td>
	                                    <td>XXXX</td>
	                                    <td>XXX</td>
	                                  </tr>
                                                                                                                                                                           
                                </tbody>
                              </table>
		</div>
	</div>
</div>
<div id="poverviewcontributions_tbl" data-popup="width:750" class="popup"  title="Participant Data (Per Contribution Type)">
	<div class="body">
        <table class="fw  styleA" summary="Termination Lump Sum">
          <colgroup>
          <col width="10%">
            </col>
          
          <col width="15%">
            </col>
          
          <col width="15%">
            </col>
          
          <col width="15%">
            </col>
          
          <col width="10%">
            </col>
          
          <col width="10%">
            </col>
          
          <col width="10%">
            </col>
          
          </colgroup>
          <thead>
            <tr>
              <th class="txtb" scope="col">PIN</th>
              <th class="txtb" scope="col">Last Name,First Name</th>
              <th class="txtb txtr" scope="col">Contribution Amount</th>
              <th class="txtb txtr" scope="col">Number Of Transactions</th>
              <th class="txtb" scope="col">Term Date</th>
              <th class="txtb txtr" scope="col">Age</th>
              <th class="txtb" scope="col">Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="javascript:void(0)">XXXXXXX</a></td>
              <td>XXXXXXXXXXXXXX</td>
              <td class="txtr">XXXX</td>
              <td class="txtr">XXXX</td>
              <td>XXXX</td>
              <td class="txtr">XXXX</td>
              <td>XXXX</td>
            </tr>
            <tr>
              <td><a href="javascript:void(0)">XXXXXXX</a></td>
              <td class="txt">XXXXXXXXXXXXXX</td>
              <td class="txtr">XXXX</td>
              <td class="txtr">XXXX</td>
              <td>XXXX</td>
              <td class="txtr">XXXX</td>
              <td>XXXX</td>
            </tr>
          </tbody>
        </table>
     </div>
 </div>

